

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #eaeaea; 

}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* MENU */
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.home-img {
    width: 100%;         
    max-width: 100%;
}
.home {
    height: 100vh;
    background-image: url("your-image.jpg");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eaeaea; 
}

.home-img img {
    width: 100%;          /* الصورة تمتد بعرض div */
    height: auto;         /* يحافظ على النسبة الأصلية للصورة */
    max-height: 100vh;    /* لا تتجاوز ارتفاع الشاشة */
    display: block;       /* إزالة الفراغات تحت الصورة */
    object-fit: cover;    /* لتغطية مساحة div بشكل جميل */
}


@media (max-width: 768px) {
    .home-img img {
        width: 100%;      /* العرض كامل للشاشة الصغيرة */
        height: auto;     /* ارتفاع تلقائي للحفاظ على النسبة */
        object-fit: contain; /* تظهر الصورة كاملة بدون قص */
        max-height: 100vh;  /* لا تتجاوز ارتفاع الشاشة */
    }
}
