* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* MENU */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Make every image inside .home-img take the full screen */
.home-img img {
    width: 100vw;        /* full viewport width */
    height: 100vh;       /* full viewport height */
    object-fit: cover;   /* cover without stretching */
    display: block;      /* remove default inline spacing */
}


@media (max-width: 768px) {
  .home-img img {
    width: 100%;       
    height: auto;     
    max-height: 100vh;
    object-fit: contain; 
  }
}
